@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

body {
  background-color:#100818 !important;
  color: orange !important;
}

.output {
  text-align:center;
  h1 {
    font-size:30px;
    font-family: 'IBM Plex Serif', serif !important;
  }
  p {
    font-family: 'IBM Plex Sans', sans-serif !important;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
  font-family: 'IBM Plex Serif', serif !important;
}
p.cursor::after {
  height:13px;
  width:6px;
  font-family: 'IBM Plex Sans', sans-serif !important;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
